<form (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" name="userName" [(ngModel)]=user.userName></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password" [(ngModel)]=user.password></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" name="email" [(ngModel)]=user.email></td>
        </tr>
        <tr>
            <td>Phone No.: </td>
            <td><input type="text" name="phone" [(ngModel)]=user.phoneNo></td>
        </tr>
        <tr>
            <td>City: </td>
            <td><input type="text" name="city" [(ngModel)]=user.city></td>
        </tr>
        <tr>
            <td>State: </td>
            <td><input type="text" name="state" [(ngModel)]=user.state></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
            <td><button type="reset">Reset</button></td>
        </tr>        
    </table>
</form>
        <!-- Done for the purpose of testing addPolicy method and it's working. -->


<!-- <td><button (click)="toggle()">Vehicle</button></td>

<div *ngIf="!submit">
    <input type="number" placeholder="Policy id" name="policyId" [(ngModel)]="policyId">
    <button type="button" (click)="addPolicy()"></button>
</div> -->
    
    <!-- Done for the purpose of testing addVehicle method and it's working. -->

    <!-- 
        <td><button (click)="toggle()">Vehicle</button></td>

<div *ngIf="!submit">
    <input type="text" placeholder="Registration No." name="resgidtrationNo" [(ngModel)]="registrationNo">
    <button type="button" (click)="addVehicle()"></button>
</div> -->
